


<div class="col">
    <div class="card rounded-3 exercise-card">
        <div class="card-header py-3">
            <h4>@Exercise.Id @Exercise.Name</h4>
        </div>
        <div class="card-body exercise-card text-center">
            <button class="btn btn-primary btn-sm mb-1" @onclick="@(async () => await ExerciseQuickViewClicked.InvokeAsync(Exercise))"> Quick view</button>
            <a href="@($"exercisedetail/{Exercise.Id}")" class="btn btn-outline-primary btn-sm mb-1">
                Full details
            </a>
            @*            <button class="btn btn-outline-primary btn-sm mb-1" @onclick="(() => NavigateToDetails(exercise))">
                Full details
            </button>*@
        </div>
    </div>
</div>

