@page "/exercises"
@attribute [Authorize]
@using Jimy.Blazor.API.Interfaces
@using Jimy.Blazor.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject IExerciseService ExerciseService
@layout UserLayout

<AuthorizeView>
    <Authorized>
        <div class="px-4 py-6 sm:px-0">
            <h2 class="text-2xl font-semibold mb-4">Exercises</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                @foreach (var exercise in exercises)
                {
                <div class="bg-white shadow-md rounded-lg p-4">
                    <h3 class="text-lg font-semibold mb-2 text-center mx-auto">@exercise.Name</h3>
                    <div>
                        <p class="text-base text-pretty">@exercise.Description</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<ExerciseDto> exercises;

    protected override async Task OnInitializedAsync()
    {
        exercises = await ExerciseService.GetExercisesAsync();
    }
}